@charset "UTF-8";
body {
	background: #92ac8f;
	transition: background-color 1s ease;
}
h1 {
	text-align:center;
	font-family: 'Great Vibes', cursive;
	font-size: 100px;
	font-style: oblique;
}
img {
	display: block;
	margin: 10px auto;
	width: 950px;
}
p {
	font-family: 'Great Vibes', cursive, sans-serif;
	text-align: center;
	font-size: 65px;
}

.Misa {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 65px;
}
.cuandoydonde {
	font-size: 70px;
}
.cdv {
	width: 500px;
	display: block;
	margin: 10px auto;
}
.cuadrocolor0 {
	background-color: #b9ceb6;
	padding: 20px;
	margin: 40px auto;
	width: 80%;
	border-radius: 15px;
	box-shadow: 0 4px 15px rgba(0,0,0,0.2);
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 20px;
	color: #333;
}
.cdvt {
	font-size: 70px;
	font-style: italic;
}
.ConfirmarAsistencia {
	font-size: 70px;
	font-style: italic;
}
.regalos {
	font-size: 70px;
}
.links {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 55px;
}
.MisaImagenes {
	width: 1000px;
	display: block;
	margin: 10px auto;
}
.fecha {
	font-size: 90px !important;
}
.sobreimg {
	width: 300px;
	display: block;
	margin: 10px auto;
}
.lluvia {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}
.ca {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 58px;
}
.cancion {
	width: 700px;
	display: block;
	margin: 10px auto;
}
.lineatexto {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	font-family: 'Great Vibes', cursive;
}

.izquierda {
	text-align: left;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 27px;
}

.derecha {
	text-align: left;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 27px;
}
.micancion {
	font-size: 65px !important;
}
.Foto {
	width: 550px;
	display: block;
	margin: 20px auto;
}
.heywey {
	display: block;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
	background-color:#0E8513;
	color: #FFFFFF;
}